html{
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    background: white;
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin: auto;
}

.main_header {
    width: 100%;
    height: 100vh;
    min-height: 700px;
}

.menu_wrapper {
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0 0 0;
}

.background_image2 {
    background-image: url(../images/bg_2.jpg);
    background-size: cover;	
}

.main_slider::before, .background_image2::before {
    content: "";
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 0;
}

.main_slider {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all 1s ease-in-out;
    width: 100%;
    height: 100vh;
    min-height: 700px;
}
.slide_1 {
    background-image: url(../images/bg_2.jpg);
    opacity: 1;
}
.slide_2 {
    background-image: url(../images/bg_1.jpg);
    opacity: 0;
}
.slide_3 {
    background-image: url(../images/bg_3.jpg);
    opacity: 0;
}

.text_1 {
    opacity: 1;
}
.text_2 {
    opacity: 0;
    display: none;
}
.text_3 {
    opacity: 0;
    display: none;
}

.container {
    max-width: 1140px;
    display: flex;
    margin: auto;
    /* ! 10px */
    padding: 10px 10px; 
    justify-content: space-between;
    /* for IE11 */
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.logo {
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-bottom: 0.3125rem;
    font-size: 1.25rem;
    z-index: 1;
}
.main_header a {
    text-decoration: none;
    color: white;
}

.main_header a:visited {
    color: white;

}

.main_navigation li {
    display: inline-block;
    padding-right: 30px;
    position: relative;
    z-index: 5;
}

.menu_button {
    color: gray;
    background-color: black;
    font-size: 20px;
    height: 40px;
    border: 0;
    display: none;
}

li.active a::before {
    content: "";
    height: 2px;
    background: white;
    left: 0px;
    right: 30px;
    position: absolute;
    bottom: -12px;
}

.slider_texts_container {
    z-index: 1; 
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    margin-top: -50px;
}

.main_block {
    width: 100%;
    margin-top: 70px;
    transition: all 1s linear;
}

.sub_heading {
    margin-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    color: #999999;
}

.main_header .sub_heading{
    color: white;
}

.sub_heading::after {
    content: "";
    width: 80px;
    height: 2px;
    background: #999999;
    position: absolute;
    top: 42%;
    left: 110%;
}

.main_header .sub_heading::after{
    background :white;
}

h1 {
    font-size: 100px;
    margin-top: 60px;
}

.nav_button {
    background: white;
    border: 2px solid white;
    color: #999999;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    margin-top: 30px;
}

.nav_button:hover {
    background: transparent;
    color: white;
}

.slider_navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: flex-end;
    top: 500px;
    right: 50px;
}

.position_bars {
    display: flex;
    width: 100%;
    margin-top: 35px;
}

.bar{
    background-color: #fff;
    width: 33.3%;
    height: 2px;
    opacity: 0.3;
    cursor: pointer;
}

.arrow {
    font-size: 24px;
    line-height: 1.5;
    cursor: pointer;
    user-select: none;
}

.bar.active {
    opacity: 1;
}
/* /////////////////////////////// */

.services {
    color: black;
}

.booking_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
  
input, select {
    border: 1px solid #c4c4c4;
    background-color: #fff;
    padding: 3px 5px;
    width: 230px;
    height: 50px;
    font-size: 22px;
    box-sizing: border-box;
}

select {
    width: 100px;
}

label {
    display: block;
    margin-bottom: 15px;
}

.check_button {
    background: #fc3c3c;
    border: 2px solid #fc3c3c;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-top: 30px;
    height: 50px;
    width: 230px;
}

.check_button:hover {
    background-color: transparent;
    color: #fc3c3c;
}

h2 {
    font-size: 50px;
    margin: 30px 0;
    color: black;
}

.flaticon::before {
    color: red;
    font-size: 50px;
}

.service_item {
    display: flex;
    flex-direction: row;
    width: 31%;
    margin-top: 40px;
}

.service_description {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    line-height: 1.8;
    /* for IE11 */
    width: 100%; 
}

.our_service {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    justify-content: space-between;
}

.service_description h3 {
    font-size: 20px;
    line-height: 2;
}

.service_item span {
    margin-top: 5px;
}

/* ///////////////////////////// */

.featured_rooms {
    background-color: #fafafa;
}

.featured_rooms .rooms_overview {
    display: flex;
    justify-content: space-between;
    /* width: 3000px; */
}

.wrapper {
    overflow: hidden;
}

.featured_rooms .room_preview {
    /* float: left; */
    width: 364px;
    /* margin-right: 24px; */
}

.introduction {
    color: black;
    width: 55%;
    line-height: 1.5;
    margin: 30px 0;
    line-height: 1.6;
}

/* for IE 11 */
.wrapper {
    width: 100%;
}

.rooms_overview {
    display: flex;
    justify-content: space-between;
    /* for IE11 */
    width: 100%; 
    flex-wrap: wrap;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0;
}

.room_preview {
    width: 32%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.room_preview img {
    width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .room_preview img,
    .menu_preview img { 
        height: 50%;
    }
}

.room_summary {
    color: black;
    background-color: white;
    padding: 0 30px 20px 30px;
}

.room_heading {
    font-size: 24px;
}

.price {
    font-size: 40px;
    color: black;
}

.specs {
    color: gray;
    margin-bottom: 10px;
    line-height: 1.5;
}

.specification {
    color: black;
    font-weight: bolder;
}

sup {
    position: relative;
    top: -15px;
}

sup, sub {
    color: black;
}

.specification + sup {
    color: gray;
    top: -5px;
    font-size: 14px;
}

.navigation {
    color:black;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    width: 7.5%;
    margin: 30px auto;
}

.arrows {
    cursor: pointer;
}


/* ///////////////////////////// */

.restaurant_menu {
    background-color: #fafafa;
}

.menu_navigation {
    color: #cccccc;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
}

.menu_navigation li {
    flex: 1;
    display: block;
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding: 40px 0;
}

li.selected {
    color: #fc3c3c;
    border-color: #fc3c3c;
}

.menu_description {
    margin-bottom: 10px;
    line-height: 1.5;
}

.menu_overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}

.menu_preview {
    width: 32%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

#menu_page2, #menu_page3 {
    display: none;
}

.menu_preview img {
    width: 100%;
}

.menu_summary {
    color: black;
    padding: 0 30px 20px 30px;
}

.menu_heading {
    font-size: 24px;
}

/* ///////////////////////////// */

.ad_section {
    min-height: 600px;
    height: 60vh;
    color: white;
    background-image: url(../images/bg_2.jpg);
    background-size: cover;
    position: relative;
    display: flex;
}

.ad_section::before {
    content: "";
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 0;
}

.ad_section h2 {
    font-size: 70px;
    color: white;
    z-index: 1;
}

.ad_section button {
    background: white;
    border: 2px solid white;
    color: #999999;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    margin-top: 30px;
    z-index: 1;
}

.ad_section button:hover {
    background: transparent;
    color: white;
}

/* ///////////////////////////// */

.guest_reviews {
    background-color: #fafafa;
    color: black;
}

.reviews_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}

.review {
    display: flex;
    flex-direction: column;
    width: 28%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

.review_header {
    display: flex;
    margin-bottom: 15px;
}

.review_person {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center;
}

.review_photo {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    overflow: hidden;
}

.review_photo img {
    width: 100%;
}

.review_name {
    font-size: 18px;
    margin-bottom: 10px;
}

.review_description {
   color: #a6a6a6;
   font-size: 14px;
}

.review_text {
    line-height: 1.8;
}

/* ////////////////////////// */

footer {
    background-color: #333;
    height: 200px;
}

footer p {
    margin: 80px auto;
}

 
/* /////RESERVATIONS.HTML/////// */

.page_header {
    z-index: 1;
    margin-top: 220px;
}

.page_header h2 {
    color: white;
    font-size: 70px;
}

.steps_section {
    margin: 50px 0;
}

.steps_wrapper{
    display: flex;
    color: black;
    width: 100%;
}

.step {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.step_number {
    width: 33%;
    height: 93px;
    border-radius: 100px;
    color: white;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.step_name {
    font-size: 22px;
    margin: 30px 0;
    text-transform: uppercase;   
}

.step_bar {
    width: 100%;
    height: 8px;
    background-color: gray;
}

.completed_step .step_number,.completed_step .step_bar{
    background-color: #28a745;
}

.current_step .step_number,.current_step .step_bar {
    background-color: #17a2b8;
}

.failed_step .step_number,.failed_step .step_bar {
    background-color: #dc3545;
}

.step_container {
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    flex-wrap: wrap;
}

.step_container input, .step_container select, .step_container button{
    width: 280px;
}

.step_container button{
    width: 280px;
    margin-top: 25px;
}

.step_header{
    margin: auto;
    font-size: 35px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;

}

.step_actions {
    margin-bottom: 55px;
    color: black;
}

.step_actions label {
    margin-bottom: 10px;
    text-align: center;
} 

.form_group {
    margin: 10px 30px;
}

.step_actions .form_element{
    margin-bottom: 15px;
}

.invalid {
    border: 2px solid red;
    background-color: #c7192b98;
}

.error_msg {
    width: 72%;
    display: none;
    margin: auto;
    color: #dc3545;
    font-size: 20px;
    font-weight: bolder;
}

.choose {
    background: #28a745;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    margin-top: 10px;
}

.choose:hover {
    background: white;
    border: 2px solid green;
    color: #28a745;
}



#step2_action {
    display: none;
}

#step3_action {
    display: none;
}


#step4_action {
    display: none;
}

#step5_action {
    display: none;
}

/* //////Rooms & suites/////////// */


.featured {
    width: 100%;
    padding: 30px 0;
}

.room_preview--featured {
    width: 100%;
    display: flex;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.room_preview--featured-reversed {
    flex-direction: row-reverse;
}

.room_preview--featured img {
    width: 50%;
}

.room_preview--featured .room_summary {
    padding: 25px 90px;
} 

.room_preview--featured .room_heading {
    font-size: 40px;
}

.readmore_button {
    background: #fc3c3c;
    border: 2px solid #fc3c3c;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    margin-top: 30px;
}

.readmore_button:hover {
    background: transparent;
    color: #fc3c3c;
}

.rooms_overview .readmore_button {
    padding: 1rem 3rem;
    width: 100%;
}

.ajax_loader {
    margin: auto;
    display: block;
}

.simpleHeading {
    margin: auto;
    margin-bottom: 40px;
}

.simpleText {
    color:black;
    width: 55%;
    margin: auto;
    text-align: center;
    line-height: 1.8;
}

/* ////////SimngleRoom.html/////////// */

.room_overview {
    color: black;
    background-color: #fafafa;
}

.room_block, .reservation_block {
    display: flex;
    flex-direction: column;
}

.room_block {
    width: 60%;
}

.reservation_block {
    width: 38%;
    margin-left: 2%;
    align-self: flex-start;
    margin-top: 77px;
}

.head_block {
    display: flex;
    justify-content: space-between;
}

.images_block {
    display: flex;
    flex-direction: column;
}

.big_image_block img{
    width: 100%;
}

.small_images_block {
    display: flex;
    background-color: white;
    justify-content: space-around;
}

.small_images_block img {
    width: 24%;
    height: 25%;
    object-fit: contain;
    margin: 5px 0;
}

.form_block {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
}

.roomName h2 {
    font-size: 58px;
    margin: 10px 0;
}

.roomPrice {
    font-size: 36px;
    line-height: 0.6;
    align-self: center;
}

.roomPrice span {
    color: #999999;
    font-size: 18px;
}

.info_block {
   display: flex;
   background-color: white;
   padding: 25px 0;
   margin: 15px 0;
}

.info_block_small {
    width: 25%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.info_block_small img {
    object-fit: contain;
    margin-right: 5px;
}

.info_block_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.info_block_text span {
    line-height: 1.5;
}

.info_block_text sup {
    font-size: 13px;
    position: relative;
    top: -5px;
}

.description_block {
    padding: 30px;
    background-color: white;
    margin-bottom: 20px;
}

.description_block h3 {
    font-size: 22px;
    font-weight: bolder;
}

.description_block hr {
    border-width: 0;
    background-color: #ccc;
    height: 2px;
    margin: 20px 0;
}

.description_text {
    font-size: 17px;
    line-height: 1.1;
}

.form_block h2 {
    font-size: 27px;
    text-align: center;
    margin-top: 0;
}

.form_block input, .form_block select, .form_block button {
    width: 100%;
    margin-bottom: 15px;
}

.form_block label {
    margin-bottom: 10px;
}

.form_block button {
    margin-top: 31px;
}

.form_block .choose {
    padding: 1rem;
    letter-spacing: 0.1rem;
    display: none;
}

.p_error {
    color: red;
    margin: -10px 0 10px 0;
    display: none;
    width: 100%;
    text-align: center;
}

.p_success {
    color: #0ad90a;
    margin: 10px 0 0px 0;
    text-align: center;
    display: none;
}

#p_error_people, #p_error_dates {
    margin: 17px 0;
    text-align: center;
}

.direct_block {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 50px;
}

.direct_block p {
    margin-top: 15px;   
}

.p_head {
    font-size: 24px;
}

.p_tel {
    font-size: 20px;
    color: #fc3c3c;
}

.p_italic {
    color: #ccc;
    font-style: italic;
    font-size: 16px;
}


@media all and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .featured_rooms .room_preview {
        width: 460px;
    }

    input {
        width: 190px;
    }

    .menu_preview {
        width: 48%;
    }
    
}

@media all and (max-width: 991px) {

    .container {
        max-width: 769px;
    }
    .featured_rooms .room_preview {
        width: 340px;
    }

    .menu_preview {
        width: 48%;
    }

    h1 {
        font-size: 70px;
    }

    select {
        width: 155px;
    }

    input {
        width: 340px;
    }

    .check_button {
        width: 340px;
    }

    .form_element {
        margin-bottom: 15px;
    }

    .menu_wrapper {
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;

    }

    .main_navigation {
        display: none;
    }

    .service_item {
        width: 48%;
    }

    .introduction {
        width: 65%;
    }

    .ad_section h2 {
        font-size: 50px;
    }

    .review {
        width: 43%;
        margin-bottom: 15px;
    }

    .menu_button {
        display: block;
        padding-bottom: 20px;
        margin-right: 90px;
    }

    li {
        display: block;
    }

    .logo {
        margin-left: 90px;
    }




}

@media all and (max-width: 780px) {
    .container {
        max-width: 590px;
    }
    .featured_rooms .room_preview {
        width: 280px;
    }

    .booking_form {
        justify-content: center;
    }

    select {
        width: 340px;
    }

    .main_navigation {
        display: none;
    }

    /* .menu_wrapper {
        padding: 0 10px 16px 50px;
    } */

      
}


@media all and (max-width: 600px) {
    .container {
        max-width: 500px;
    }  

    h1 {
        font-size: 50px;
    }

    .nav_button {
        padding:  1rem 2rem;
    }

    .service_item {
        width: 80%;
    }

    .featured_rooms .room_preview {
        width: 445px;
    }

    .menu_preview {
        width: 90%;
    }

    .review {
        width: 85%;
    }

    .menu_button {
        margin-right: 45px;
    }

    .logo {
        margin-left: 45px;
    }

    .introduction {
        width: 87%;
    }

    .arrows {
        margin: 0px -35px;
    }

    .menu_preview {
        margin: 5%;
    }

    .review {
        margin: 5%;
    }
    
}


@media all and (max-width: 480px) {
    .container {
        max-width: 450px;
    }  

    .featured_rooms .room_preview {
        width: 420px;
    }


}

@media all and (max-width: 320px) {
    .container {
        max-width: 310px;
    }  

    .menu_button {
        left:0;
    }

    .logo {
        font-size: 16px;
        margin-left: 25px;
    }

    input, select, .check_button {
        width: 250px;
    }

    /* .menu_wrapper {
        padding: 0;
    } */

    .ad_section h2 {
        font-size: 36px;
    }

    .ad_section button {
        padding: 1rem 2rem;
    }

    h2 {
        font-size: 36px;
    }
    
    .sub_heading {
        font-size: 14px;
    }

    h1 {
        font-size: 40px;
    }

    .room_preview {
        width: 290px;
    }

    .menu_button {
        font-size: 16px;
        height: 20px;
        top: 38px;
    }

}
